html {
  scroll-behavior: smooth;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: "Open Sans", sans-serif;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* start header */
header {
  position: absolute;
  z-index: 1;
  left: 0;
  width: 100%;
}
header .container {
  display: flex;
  justify-content: space-between;
  position: relative;
  height: 97px;
  align-items: center;
}
header .container::after {
  content: "";
  position: absolute;
  background-color: white;
  width: calc(100% - 30px);
  height: 1px;
  bottom: 0;
  z-index: -1;
}
header .container img {
  height: 40px;
}
header .container nav {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
header .container nav .toggle-menu {
  color: white;
  font-size: 22px;
}
header .container nav .toggle-menu:hover + ul {
  display: block;
  flex-direction: column;
  position: absolute;
  left: 0;
  top: 97px;
  width: 100%;
  background-color: rgb(0 0 0 / 60%);
}
@media (min-width: 768px) {
  header .container nav .toggle-menu {
    display: none;
  }
}
header .container nav i {
  color: white;
  font-size: 20px;
  font-weight: bold;
  margin-left: 50px;
}
header .container nav ul {
  list-style: none;
  display: flex;
  position: relative;
}
header .container nav .fa-magnifying-glass::after {
  content: "";
  position: absolute;
  background-color: white;
  width: 1px;
  height: 30px;
  right: 54.5px;
  bottom: 34px;
}
header .container nav ul li a {
  display: block;
  text-decoration: none;
  padding: 40px 10px;
  font-size: 14px;
  position: relative;
  color: white;
}
@media (max-width: 767px) {
  header .container nav ul {
    display: none;
  }
  header .container nav ul a {
    padding: 15px !important;
  }
}
header .container nav ul li .active,
header .container nav ul li a:hover {
  color: #19c8fa;
  border-bottom: 1px solid #19c8fa;
}
/* end header */
/* start landing */

.landing {
  background-image: url(../images/landing.jpg);
  background-size: cover;
  height: 100vh;
  position: relative;
}
.landing .overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 60%);
}
.landing .hello-text {
  width: 50%;
  background-color: #0f748fb3;
  color: white;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  padding: 50px;
  display: flex;
  justify-content: flex-end;
}
.landing .hello-text .content {
  max-width: 500px;
}
.landing .hello-text .content h2 {
  font-size: 32px;
  font-weight: normal;
  line-height: 1.5;
  margin-bottom: 20px;
}
.landing .hello-text .content p {
  line-height: 2;
  font-size: 14px;
}
@media (max-width: 767px) {
  .landing .hello-text {
    width: 100%;
  }
}
.landing .circle {
  position: absolute;
  display: flex;
  justify-content: center;
  bottom: 0;
  margin-bottom: 20px;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
.landing .circle div {
  width: 20px;
  height: 20px;
  border: 2px solid white;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin-left: 10px;
}
.landing .circle .two {
  background-color: #19c8fa;
}
.landing .fa-angle-left {
  color: #ddd;
  position: absolute;
  top: 50%;
  left: 30px;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
.landing .fa-angle-right {
  color: #ddd;
  position: absolute;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
@media (max-width: 767px) {
  .landing .change-background {
    display: none;
  }
}
/* end landing */
/* start services */
.services {
  padding: 100px 0;
}
.services h2 {
  position: relative;
  text-align: center;
  font-weight: normal;
  font-size: 40px;
  margin-bottom: 70px;
}
.services h2::before {
  content: "";
  position: absolute;
  background-color: rgb(51, 51, 51);
  width: 125px;
  height: 2px;
  left: 50%;
  bottom: -27px;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
.services h2::after {
  content: "";
  position: absolute;
  border: 2px solid #333333;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  bottom: -43px;
  left: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-color: white;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
.services .container > p {
  width: 550px;
  margin: 0 auto 100px;
  max-width: 100%;
  line-height: 2;
  color: #777;
  text-align: center;
}
.services .container .parent-srv {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-column-gap: 40px;
}
.services .container .parent-srv .col .srv {
  display: flex;
}
.services .container .parent-srv .col div:first-child {
  margin-bottom: 60px;
}
.services .container .parent-srv .col .srv i {
  margin-right: 50px;
}
@media (max-width: 767px) {
  .services .container .parent-srv .col .srv {
    flex-direction: column;
    text-align: center;
  }
  .services .container .parent-srv .col .srv i {
    margin: 0px 0 30px 0;
  }
}

.services .container .parent-srv .col .srv .srv-text h3 {
  color: #19c8fa;
  margin-bottom: 30px;
}
.services .container .parent-srv .col .srv .srv-text p {
  color: #777777;
  line-height: 2;
}
/* end services */
/* start design */
.design {
  background-image: url(../images/design-features.jpg);
  background-size: cover;
  height: 80vh;
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.design::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgb(0 0 0 / 60%);
}
.design .design-text {
  color: white;
  background-color: #0f748fb3;
  padding: 50px;
  position: relative;
  flex: 1;
  z-index: 1;
}
.design .design-text p {
  font-size: 24px;
  margin-bottom: 40px;
}
.design .design-text ul {
  list-style: none;
}
.design .design-text ul li {
  padding: 15px 0 15px;
}
.design .design-text ul li::before {
  font-family: "Font Awesome 5 Free";
  content: "\f108";
  font-weight: 900;
  margin-right: 20px;
  position: relative;
  top: 1px;
}
.design .design-img {
  text-align: center;
  flex: 1;
  z-index: 1;
}
.design .design-img img {
  position: relative;
  bottom: -150px;
}
@media (max-width: 767px) {
  .design .design-img img {
    display: none;
  }
  .design .design-text {
    flex: none;
  }
}
/* end design */
/* start portfolio */
.portfolio {
  padding: 100px 0;
}
.portfolio h2 {
  position: relative;
  text-align: center;
  font-weight: normal;
  font-size: 40px;
  margin-bottom: 70px;
}
.portfolio h2::before {
  content: "";
  position: absolute;
  background-color: rgb(51, 51, 51);
  width: 125px;
  height: 2px;
  left: 50%;
  bottom: -27px;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
.portfolio h2::after {
  content: "";
  position: absolute;
  border: 2px solid #333333;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  bottom: -43px;
  left: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-color: white;
  transform: translate(-50%, -50%);
}
.portfolio .container > p {
  width: 550px;
  margin: 0 auto 100px;
  max-width: 100%;
  line-height: 2;
  color: #777;
  text-align: center;
}
.portfolio .container ul {
  display: flex;
  justify-content: center;
  list-style: none;
}
.portfolio .container ul li:first-child {
  background-color: #19c8fa;
  color: white;
}
.portfolio .container ul li {
  padding: 10px;
}
/* projects */
.portfolio .portfolio-content {
  display: flex;
  flex-wrap: wrap;
  margin-top: 80px;
}
.portfolio .portfolio-content .shuffle-images {
  flex-basis: 25%;
  overflow: hidden;
  position: relative;
}
.portfolio .portfolio-content .shuffle-images img {
  max-width: 100%;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.portfolio .portfolio-content .shuffle-images .text-img {
  position: absolute;
  bottom: -85px;
  padding: 20px;
  color: black;
  width: 100%;
  background-color: white;
  transition: 5s;
  -webkit-transition: 0.3s;
  -moz-transition: 5s;
  -ms-transition: 5s;
  -o-transition: 5s;
}
.portfolio .portfolio-content .shuffle-images .text-img h4 {
  margin-bottom: 10px;
  font-weight: normal;
}
.portfolio .portfolio-content .shuffle-images .text-img h4 + p {
  color: #19c8fa;
}
.portfolio .portfolio-content .shuffle-images:hover img {
  transform: rotate(3deg) scale(1.1);
  -webkit-transform: rotate(3deg) scale(1.1);
  -moz-transform: rotate(3deg) scale(1.1);
  -ms-transform: rotate(3deg) scale(1.1);
  -o-transform: rotate(3deg) scale(1.1);
}
.portfolio .portfolio-content .shuffle-images:hover .text-img {
  bottom: 0;
}
.portfolio .more {
  background-color: #19c8fa;
  color: white;
  padding: 15px 20px;
  display: block;
  width: fit-content;
  margin: 30px auto;
  text-decoration: none;
  text-transform: uppercase;
}
@media (max-width: 1199px) {
  .portfolio .portfolio-content .shuffle-images {
    flex-basis: 50%;
  }
}
@media (max-width: 767px) {
  .portfolio .portfolio-content .shuffle-images {
    flex-basis: 100%;
  }
}
/* end portfolio */
/* start video */
.video {
  position: relative;
}
.video video {
  width: 100%;
}
.video::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(0 0 0 /40%);
}
.video .text-video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #0f748fb3;
  width: 100%;
  padding: 50px;
  text-align: center;
  color: white;
  z-index: 1;
}
.video .text-video h2 {
  font-weight: normal;
  margin-bottom: 30px;
}
.video .text-video h2 + p {
  margin-bottom: 30px;
}
.video .text-video p + button {
  background-color: black;
  color: white;
  padding: 10px 20px;
  border: none;
}
/* end video */
/* start about */
.about {
  padding-top: 100px;
  text-align: center;
  overflow: hidden;
}
.about h2 {
  position: relative;
  text-align: center;
  font-weight: normal;
  font-size: 40px;
  margin-bottom: 70px;
}
.about h2::before {
  content: "";
  position: absolute;
  background-color: rgb(51, 51, 51);
  width: 125px;
  height: 2px;
  left: 50%;
  bottom: -27px;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
.about h2::after {
  content: "";
  position: absolute;
  border: 2px solid #333333;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  bottom: -43px;
  left: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-color: white;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
.about .container > p {
  width: 550px;
  margin: 0 auto 100px;
  max-width: 100%;
  line-height: 2;
  color: #777;
  text-align: center;
}
.about .container img {
  max-width: 100%;
  position: relative;
  bottom: -120px;
  margin-top: -120px;
}
@media (max-width: 767px) {
  .about .container img {
    bottom: -60px;
    margin-top: -60px;
  }
}
/* end about */
/* start status */
.status {
  background-image: url(../images/stats.png);
  background-size: cover;
  padding: 100px 0;
  position: relative;
}
.status::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0/70%);
  top: 0;
  left: 0;
}
.status .container {
  display: flex;
  flex-wrap: wrap;
}
.status .container .status-details {
  text-align: center;
  flex-basis: 25%;
  background-color: #0f748fb3;
  color: white;
  z-index: 1;
  padding: 50px;
}
.status .container .status-details h2 {
  font-size: 50px;
  margin-bottom: 20px;
}
.status .container .status-details h2 + p {
  font-size: 14px;
}
.status .container .status-details i {
  position: relative;
  margin-bottom: 40px;
}
.status .container .status-details i::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-color: black;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
@media (max-width: 1199px) {
  .status .container .status-details {
    flex-basis: 50%;
  }
}
@media (max-width: 767px) {
  .status .container .status-details {
    flex-basis: 100%;
  }
}
/* end status */
/* start info */
.info {
  padding: 100px 0;
}

/* end info */
.info .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
/* start TESTIMONIALS */
.info .container .testimonials,
.info .container .skills {
  flex-basis: 45%;
}
@media (max-width: 991px) {
  .info .container .testimonials,
  .info .container .skills {
    flex-basis: 100%;
  }
}
.info .container .text-introduction h3 {
  text-align: center;
  margin-bottom: 30px;
  font-weight: normal;
}
.info .container .text-introduction h3 + p {
  text-align: center;
  margin-bottom: 60px;
  color: #777;
  line-height: 2;
}
.info .container img {
  width: 100px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin-right: 50px;
}
.info .container .testimonials .testimonials-details {
  display: flex;
  margin-bottom: 30px;
  align-items: center;
}
@media (max-width: 767px) {
  .info .container .testimonials .testimonials-details {
    text-align: center;
    flex-direction: column;
  }
  .info .container .testimonials .testimonials-details img {
    margin: 0 0 20px;
  }
}
.info
  .container
  .testimonials
  .testimonials-details
  .text-testimonials-details {
  border-bottom: 1px solid #ccc;
}
.info
  .container
  .testimonials
  .testimonials-details
  .text-testimonials-details
  p:first-child {
  line-height: 1.8;
}
.info
  .container
  .testimonials
  .testimonials-details
  .text-testimonials-details
  p:last-child {
  text-align: right;
  margin-bottom: 15px;
  font-size: 14px;
  color: #777777;
}
.info .container .testimonials .bullets {
  display: flex;
  justify-content: center;
  margin: 50px 0;
  list-style: none;
}
.info .container .testimonials .bullets li:nth-child(2) {
  background-color: #19c8fa;
}
.info .container .testimonials .bullets li {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border: 1px #ccc solid;
  margin-right: 10px;
}
/* end TESTIMONIALS */
/* start skills */
.info .container .skills .skills-list .skill-name {
  margin-bottom: 40px;
}
.info .container .skills .skills-list .skill-name h4 {
  margin-bottom: 15px;
  font-weight: normal;
}
.info .container .skills .skills-list .skill-name .parent-progress {
  height: 30px;
  background-color: #ccc;
}
.info
  .container
  .skills
  .skills-list
  .skill-name
  .parent-progress
  .child-progress {
  height: 100%;
  background-color: #19c8fa;
  position: relative;
}
.info .container .skills .skills-list .parent-progress .child-progress::before {
  content: attr(data-progress);
  position: absolute;
  right: -20px;
  top: -42px;
  background-color: black;
  color: white;
  padding: 5px;
  border-radius: 5px;
}
.info .container .skills .skills-list .parent-progress .child-progress::after {
  content: "";
  position: absolute;
  border-width: 8px;
  border-style: solid;
  border-color: black transparent transparent transparent;
  right: -8px;
  top: -15px;
}
/* end skills */
/* start quote */
.quote {
  padding: 100px 0;
  background-image: url(../images/quote.jpg);
  background-size: cover;
  text-align: center;
}
.quote {
  padding: 100px 0;
  background-image: url(../images/quote.jpg);
  background-size: cover;
  text-align: center;
  position: relative;
}
.quote::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgb(0 0 0 / 75%);
}
.quote .container {
  position: relative;
  color: white;
  z-index: 1;
}
.quote .container q {
  margin-bottom: 20px;
  font-size: 30px;
  display: block;
}
/* end quote */
/* start pricing */
.pricing {
  padding: 100px 0;
  text-align: center;
  overflow: hidden;
}
.pricing h2 {
  position: relative;
  text-align: center;
  font-weight: normal;
  font-size: 40px;
  margin-bottom: 70px;
}
.pricing h2::before {
  content: "";
  position: absolute;
  background-color: rgb(51, 51, 51);
  width: 125px;
  height: 2px;
  left: 50%;
  bottom: -27px;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
.pricing h2::after {
  content: "";
  position: absolute;
  border: 2px solid #333333;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  bottom: -43px;
  left: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-color: white;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
.pricing .container p:first-child {
  width: 550px;
  margin: 0 auto 100px;
  max-width: 100%;
  line-height: 2;
  color: #777;
  text-align: center;
}
.pricing .container .pricing-group {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 30px;
}
.pricing .container .pricing-group .col {
  background-color: #fcfcfc;
  text-align: center;
  border-top: 1px solid #19c8fa;
}
.pricing .container .pricing-group .col div:first-child {
  border-bottom: 1px solid #19c8fa;
}
.pricing .container .pricing-group div h3 {
  font-weight: normal;
  margin: 40px 0 15px;
  text-align: center;
}
.pricing .container .pricing-group div p {
  margin-bottom: 40px;
  font-weight: bold;
  font-size: 60px;
  text-indent: 50px;
}
.pricing .container .pricing-group div p::before {
  content: "$";
  position: relative;
  font-size: 25px;
  font-weight: normal;
  top: -40px;
  left: -15px;
}
.pricing .container .pricing-group div p span {
  font-size: 20px;
}
.pricing .container .pricing-group div ul {
  list-style: none;
}
.pricing .container .pricing-group div ul li {
  position: relative;
  padding: 20px 0;
}
.pricing .container .pricing-group .col div:last-child {
  height: 120px;
  position: relative;
  border-top: 1px solid #19c8fa;
}
.pricing .container .pricing-group .col div a {
  text-decoration: none;
  border: 1px solid #19c8fa;
  padding: 20px;
  position: absolute;
  bottom: 25%;
  left: 50%;
  transform: translateX(-50%);
}
.pricing .container .pricing-group div ul li:not(:last-child)::after {
  content: "";
  position: absolute;
  width: 140px;
  border-bottom: 1px solid #19c8fa;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
.pricing .container p:last-of-type {
  text-align: center;
  margin: 50px auto 20px;
  font-size: 20px;
}
.pricing .container > a {
  display: block;
  width: fit-content;
  margin: 20px auto;
  background-color: #19c8fa;
  color: white;
  padding: 15px 30px;
  text-decoration: none;
}
/* end pricing */

/* start subscribe */
.subscribe {
  padding: 100px 0;
  background-image: url(../images/subscribe.jpg);
  background-size: cover;
  position: relative;
}
.subscribe::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgb(0 0 0 / 50%);
}
.subscribe .container div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 991px) {
  .subscribe .container div {
    flex-direction: column;
  }
  .subscribe .container div form {
    margin-bottom: 30px;
  }
}
.subscribe .container div form {
  flex-basis: 37.5%;
  position: relative;
  z-index: 1;
}
.subscribe .container div form i {
  position: absolute;
  color: white;
  left: 25px;
  top: 50%;
  transform: translateY(-50%);
}
.subscribe .container div p {
  color: white;
  line-height: 2;
  flex-basis: 58.4%;
  z-index: 1;
}
.subscribe .container div input[type="text"] {
  width: calc(100% - 130px);
  background-color: transparent;
  border: 1px solid white;
  border-right: 1px solid transparent;
  outline: none;
  color: #19c8fa;
  padding: 20px 60px;
  caret-color: #19c8fa;
}
.subscribe .container div input[type="submit"] {
  background-color: #19c8fa;
  border: 1px solid white;
  border-left: 1px solid transparent;
  outline: none;
  color: white;
  font-size: 16px;
  padding: 20px 23px;
  margin-left: -5px;
}
.subscribe .container div ::placeholder {
  color: white;
}
/* end subscribe */
/* start contact */
.contact {
  padding: 100px 0;
  text-align: center;
  overflow: hidden;
}
.contact h2 {
  position: relative;
  text-align: center;
  font-weight: normal;
  font-size: 40px;
  margin-bottom: 70px;
}
.contact h2::before {
  content: "";
  position: absolute;
  background-color: rgb(51, 51, 51);
  width: 125px;
  height: 2px;
  left: 50%;
  bottom: -27px;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
.contact h2::after {
  content: "";
  position: absolute;
  border: 2px solid #333333;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  bottom: -43px;
  left: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-color: white;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
.contact .container > p {
  width: 550px;
  margin: 0 auto 100px;
  max-width: 100%;
  line-height: 2;
  color: #777;
  text-align: center;
}
.contact .container .parent-contact {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .contact .container .parent-contact {
    flex-direction: column-reverse;
  }
  .contact .container .parent-contact .details {
    text-align: center !important;
  }
}
.contact .container .parent-contact .details {
  flex-basis: 25%;
  text-align: left;
}
.contact .container .parent-contact .details .one {
  font-weight: normal;
  margin-bottom: 90px;
}
.contact .container .parent-contact .details div h3 {
  font-weight: normal;
  margin-bottom: 30px;
}
.contact .container .parent-contact .details .one h4 {
  font-weight: normal;
  color: #777;
  margin-bottom: 10px;
}
.contact .container .parent-contact .details .two h4 {
  font-style: italic;
  font-weight: normal;
  color: #777;
  margin-bottom: 10px;
}
.contact .container .parent-contact .inputs {
  flex-basis: 70%;
}
.contact .container .parent-contact .inputs form input {
  display: block;
}
.contact .container .parent-contact .inputs form input[type="submit"] {
  padding: 20px;
  border: none;
  color: white;
  margin-left: auto;
  background-color: #19c8fa;
  cursor: pointer;
}
.contact .container .parent-contact .inputs form :not(input[type="submit"]) {
  border: 1px solid #ccc;
  width: 100%;
  padding: 20px;
  margin-bottom: 30px;
  outline: none;
}
/* end contact */
/* start footer  */
footer {
  padding: 50px 0;
  background-image: url(../images/subscribe.jpg);
  background-size: cover;
  color: white;
  text-align: center;
  position: relative;
}
footer::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgb(0 0 0 / 70%);
}
footer .container {
  position: relative;
}
footer .container img {
  margin-bottom: 60px;
}
footer .container h2 {
  font-weight: normal;
  margin-bottom: 20px;
  font-size: 22px;
}
footer .container div {
  border-top: 1px solid white;
  width: fit-content;
  margin: auto;
  padding: 30px 20px;
  margin-bottom: 40px;
}
footer .container div :not(i:last-child) {
  margin-right: 30px;
}

footer .container p span {
  color: #19c8fa;
  font-weight: bold;
}

/* end footer  */
